<p class="pageheader">Manager</p>

<p>$manager.getFirstName()</p>
<p>$manager.getLastName()</p>
<p>$manager.getSalary()</p>
<p>$manager.getDepartment().getTitle()</p>
<p>$manager.getBudget()</p>

<td><a href="/managers/${manager.getId()}/edit" class="button center">Edit</a></td>
<td><a href="/managers/${manager.getId()}/delete" class="button center">Delete</a></td>
